# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [1]:
%pip install tabulate
%pip install requests

Requirement already satisfied: tabulate in c:\users\dendo\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (0.8.9)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in c:\users\dendo\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dendo\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dendo\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dendo\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (1.26.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dendo\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (2020.11.8)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# no dependencies
import sqlite3
from tabulate import tabulate
from main import pipeline

## Load data

In [3]:
pipeline()

old database deleted successfully.
created new database with 236 entries.
old database deleted successfully.
created new database with 6519 entries.
old database deleted successfully.
created new database with 121 entries.

### Look at the first rows

In [4]:

sql_path = ".\data\domestic_flights.sqlite"

# Connect to the SQLite database
conn = sqlite3.connect(sql_path)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute a query to retrieve the first 10 rows from a table (replace 'table_name' with the actual table name)
cursor.execute("SELECT * FROM t LIMIT 10")
rows = cursor.fetchall()

# Get the column names
columns = [desc[0] for desc in cursor.description]

# Format the rows and column names into a table
table = tabulate(rows, headers=columns, tablefmt="fancy_grid")

# Print the table
print(table)
# Close the cursor and the database connection
cursor.close()
conn.close()

╒══════════╤═══════════════╤════════════════╤══════════════╤════════════╤═════════════╕
│ origin   │ destination   │   train_origin │   train_dest │   quantity │   emissions │
╞══════════╪═══════════════╪════════════════╪══════════════╪════════════╪═════════════╡
│ CGN      │ TXL           │        8003330 │      8089089 │          4 │         496 │
├──────────┼───────────────┼────────────────┼──────────────┼────────────┼─────────────┤
│ CGN      │ TXL           │        8003330 │      8089089 │         14 │        1736 │
├──────────┼───────────────┼────────────────┼──────────────┼────────────┼─────────────┤
│ CGN      │ TXL           │        8003330 │      8089089 │          2 │         496 │
├──────────┼───────────────┼────────────────┼──────────────┼────────────┼─────────────┤
│ CGN      │ TXL           │        8003330 │      8089089 │          4 │         496 │
├──────────┼───────────────┼────────────────┼──────────────┼────────────┼─────────────┤
│ CGN      │ FRA           │        8003330 │      8070003 │          1 │       50571 │
├──────────┼───────────────┼────────────────┼──────────────┼────────────┼─────────────┤
│ CGN      │ TXL           │        8003330 │      8089089 │          2 │         248 │
├──────────┼───────────────┼────────────────┼──────────────┼────────────┼─────────────┤
│ CGN      │ TXL           │        8003330 │      8089089 │          2 │         496 │
├──────────┼───────────────┼────────────────┼──────────────┼────────────┼─────────────┤
│ CGN      │ MUC           │        8003330 │      8004167 │          2 │         714 │
├──────────┼───────────────┼────────────────┼──────────────┼────────────┼─────────────┤
│ CGN      │ MUC           │        8003330 │      8004167 │          4 │         476 │
├──────────┼───────────────┼────────────────┼──────────────┼────────────┼─────────────┤
│ CGN      │ HAM           │        8003330 │      8002547 │          4 │         808 │
╘══════════╧═══════════════╧════════════════╧══════════════╧════════════╧═════════════╛

### Data exploration
This is some basic data about the datasets.

In [5]:

sql_path = ".\data\domestic_flights.sqlite"
conn = sqlite3.connect(sql_path)
cursor = conn.cursor()

# Execute a query to retrieve the table metadata (replace 'table_name' with the actual table name)
cursor.execute("PRAGMA table_info(t)")
table_info = cursor.fetchall()

# Extract column names and column info
column_names = [info[1] for info in table_info]
column_info = [(info[1], info[2], "NULL" if info[3] == 0 else "NOT NULL", info[4]) for info in table_info]


airports =  ["BER","CGN","DRS","DUS","FRA","HAM","LEJ","MUC","NUE","TXL"]

print("start airports:")
for origin in airports:
    cursor.execute(f"SELECT COUNT(*) FROM t WHERE origin = '{origin}'")
    cell_count = cursor.fetchone()[0]
    print(origin, end=": ")
    print(cell_count)

print("destination airports")
for dest in airports:
    cursor.execute(f"SELECT COUNT(*) FROM t WHERE destination = '{dest}'")
    cell_count = cursor.fetchone()[0]
    print(dest, end=": ")
    print(cell_count)

cursor.close()
conn.close()

start airports:
BER: 0
CGN: 96
DRS: 1
DUS: 7
FRA: 2
HAM: 0
LEJ: 3
MUC: 4
NUE: 1
TXL: 7
destination airports
BER: 1
CGN: 23
DRS: 9
DUS: 4
FRA: 5
HAM: 6
LEJ: 5
MUC: 15
NUE: 0
TXL: 53